<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/navbar.ejs") %>
    
    <section class="box">
        <h1>under construction</h1>

        
    </section>

    


</body>
</html>