<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/navbar.ejs") %>

    <section class="box box-home">
        <div class="item item-home">
            <a href="/coins" class="link link-home">
                <h3>CoinGecko API</h3>
                <p>Search the current price of your favorite cryptocurrency on CoinGecko.</p>
            </a>
        </div>
        
        <div class="item item-home" >
            <a href="/lang1" class="link link-home">
                <h3>Language Fanatic</h3>
                <p>If your score is higher than 5, you may come from outer space. Nice to meet you.</p>
            </a>
        </div>
        <div class="item item-home" >
            <a href="/git" class="link link-home">
                <h3>Learn Git</h3> 
                <p>A free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.</p> 
            </a> 
        </div>

    </section> 


    <%- include("../partials/footer.ejs") %>
</body>
</html>

